<!doctype html>
<html>
<head>
	<title> USER PROFILE </title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-top:80px; } 
	</style>
</head>

<body>
<div class="container"> 

   <div class="page-header text-center">
	<h1><span class="fa fa-anchor"></span> Profile Page </h1>
	<a href="<%=rootns%>/logout" class="btn btn-default btn-sm">logout </a>
   </div>

  <div class="row">
	<div class="col-sm-6">
	    <div class="well">
		<h3><span class="fa fa-user"></span>Local</h3>
		<p>
		    <strong> id </strong>: <%= user.id %><br>
		    <strong> email </strong>: <%= user.local.email %> <br>
		    <strong> pwd </strong>: <%= user.local.password %> 
		</p>
	    </div>
	</div>
  </div>

</div>
</body>
</html>
